doctype html
html(lang='en')
  head
    title='ContriBot Form'
  body
    form(method='post', action='/submit')
      input(name='name', type='text', placeholder='Name')
      input(name='address', type='text', placeholder='Address')
      input(name='email', type='text', placeholder='Email')
      input(name='shirt', type='text', placeholder='Shirt Size')
      input(type='submit', value='submit')