extends index

block main 
  form(method='post', action='/submit')
    label
      span Name
      input(name='name', type='text', placeholder='Yukihiro Dahl')
    label
      span Address
      textarea(name='address', placeholder='314 Archimedes Circle, Irration, AL 35005')
    label
      span Email
      input(name='email', type='text', placeholder='dev@example.com')
    label
      span Size 
      input(name='shirt', type='text', placeholder='Women\'s Medium')
    input.submit(type='submit', value='Submit')
