doctype html
html(lang='en')
  head
    title='ContriBot - Rewards for Contributing'
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #main
      h1 Contribot
      p= message
      block main
