<form action="/submission" method="POST">
  <label>
    <span>Name</span>
    <input name="name" type="text" placeholder="Popeye Brutus" required></input>
  </label>
  <label>
    <span>Address</span>
    <input name="address" type="text" placeholder="Some Apartment in NYC" required></input>
  </label>
  <label>
    <span>Email</span>
    <input name="email" type="email" placeholder="email@awesome.com" required ></input>
  </label>
  <label>
    <span>T-Shirt</span>
    <input name="size" type="text" placeholder="Women's Medium" required></input>
  </label>
  <input type="hidden" name="_csrf" value="{{.}}">
  <input class="submit" type="submit" value="Submit">
</form>