<html lang="en">
  <head>
    <title>ContriBot - Rewards for Contributing</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="main">
      <h1>ContriBot</h1>
      {{ yield }}
    </div>
  </body>
</html>